@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EEEEEE;
  -webkit-font-smoothing: antialiased;
  font-size: 32px;
  min-width: 1280px;
}

button {
  cursor: pointer;
  border-radius: 40px;
  border-width: 0px;
  font-size: 32px;
  color:#818181;
  background-color: #E4E8F4;
  transition:background-color, .2s ease-out;
  height: 60px;
}

button:hover{
  background-color: #e4e8f480;
}

button > img{
  width: 30px;
  height: 30px;
}

header{
  background-color: white;
  border-bottom-left-radius: 63px;
  border-bottom-right-radius: 63px;
  width: 95%;
}


.header_top{
  height: 100px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.header_bottom{
  height: 100px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.buttons{
  height: 100%;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}



.night_mode{
  height: 60px;
  min-width: 60px;
}

.log_in{
  width: 157px;
}

.catalog_button{
  width: 200px;
}

.lang_button{
  width: 175px;
}

.cart{
  width: 270px;
}

.header_link{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color:black;
  transition: color .2s;
}

.header_link:hover{
  color:red;
}

.search_bar{
  padding:0px 20px 0px 20px;
  width: 700px;
  height: 56px;
  border-radius: 40px;
  border-width: 0px;
  background-color: #E4E8F4;
  font-size: 32px;
}